*{
        margin: 0%;
        padding: 0%;

}

h1{color: rgb(255, 0, 0);}

html ,
 body{
        width: 100% ;
        height: 100% ;
        display: flex;
        justify-content: center;
        /* align-items: center; */

}

body{

    background-color: gold;
}

div{
        width: 30%;
        height: 30%;
        font-size: larger ;
        font-family: fantasy;


}
#box1{
        background-color: lightgray ;

}

#box2{
        background-color: rgb(255, 34, 229) ;
}

