*{
        margin: 0%;
        padding: 0%;

}

h1{color: rgb(255, 0, 0);}

html , body{
        width: 100% ;
        height: 100% ;

}

body{

    background-color: gold;
}
/* div { background-color: rgb(64, 186, 231);width: 50%; height: 50%; } */

